@if (isLoading) {
  <mat-progress-bar mode="indeterminate" color="primary" class="top-progress"></mat-progress-bar>
}

<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title class="login-title">
      Geek Catalog
    </mat-card-title>

    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Digite seu e-mail"
          [(ngModel)]="login"
          name="login"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Senha</mat-label>
        <input
          matInput
          type="password"
          placeholder="Digite sua senha"
          [(ngModel)]="password"
          name="password"
          required
        />
      </mat-form-field>

      <ng-template #forgotPasswordBody let-dialogRef="dialogRef">
        <form (ngSubmit)="onSubmitForgotPassword(dialogRef)" autocomplete="off" class="forgot-email-input">
          Digite o e-mail da conta que você deseja alterar a sua senha:
          <mat-form-field appearance="outline">
            <input matInput type="email" placeholder="E-mail" required [(ngModel)]="resetEmail" name="forgotEmail"/>
          </mat-form-field>
        </form>
      </ng-template>

      <ng-template #forgotPasswordActions let-dialogRef="dialogRef">
        <div class="button-group">
            <button mat-stroked-button type="button" (click)="dialogRef.close()">Fechar</button>
            <button mat-flat-button color="primary" type="submit">Salvar</button>
        </div>
      </ng-template>

      <div class="forgot-container">
        <a class="forgot-link" (click)="openForgotPasswordModal()">Esqueceu sua senha?</a>
      </div>

      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="isLoading"
      >
        @if (isLoading) {
          Carregando...
        } @else {
          Acessar
        }
      </button>
    </form>

    @if (errorMessage) {
      <mat-card class="error-card">
        <mat-card-content>
          <div class="error-content">
            <mat-icon color="warn">error</mat-icon>
            <span class="error-message">{{ errorMessage }}</span>
          </div>
        </mat-card-content>
      </mat-card>
    }

  </mat-card>
</div>
