.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: #f7f7f915;
  border-radius: 1.5rem;
  box-shadow: 0 6px 32px rgba(44, 52, 65, 0.10);
}

.login-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.forgot-container {
  text-align: right;
  margin-bottom: 1.2rem;
}

.sign-up-container {
  margin-bottom: 1.2rem;
  text-align: right;
}

.button-group {
  display: flex;
  gap: 1rem;
}

.error-card {
  background: var(--mat-sys-error-container);
  color: var(--mat-sys-on-error-container);
  border-radius: 1rem;
  margin: 1rem 0;
}

.error-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.error-message {
  width: 90%;
}
