.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.forgot-container {
  text-align: right;
  margin-bottom: 1.2rem;
}

.sign-up-container {
  margin-bottom: 1.2rem;
  text-align: right;
}

.button-group {
  display: flex;
  gap: 1rem;
}
