.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
