<div class="signup-container">
  <mat-card class="form-card">
    <mat-card-title class="signup-title">
      Novo por aqui? Cadastre-se!
    </mat-card-title>

    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nome</mat-label>
        <input
          matInput
          type="text"
          placeholder="Digite seu nome"
          formControlName="name"
        />
        @if (name?.invalid && name?.touched) {
          <mat-error>O nome é obrigatório.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Usuário</mat-label>
        <input
          matInput
          type="text"
          placeholder="Digite seu nome de usuário"
          formControlName="username"
        />
        @if (username?.hasError('required') && username?.touched) {
          <mat-error>O nome de usuário é obrigatório.</mat-error>
        }
        @if (username?.hasError('maxlength') && username?.touched) {
          <mat-error>Máximo de 20 caracteres.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Digite seu email"
          formControlName="email"
        />
        @if (email?.hasError('required') && email?.touched) {
          <mat-error>O email é obrigatório.</mat-error>
        }
        @if (email?.hasError('email') && email?.touched) {
          <mat-error>Digite um email válido.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Telefone</mat-label>
        <input
          matInput
          type="text"
          placeholder="(99) 99999-9999"
          formControlName="phone"
          mask="(00) 00009-0000"
        />
        @if (phone?.hasError('required') && phone?.touched) {
          <mat-error>O telefone é obrigatório.</mat-error>
        }
        @if (phone?.hasError('pattern') && phone?.touched) {
          <mat-error>Digite um telefone válido.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Data de Nascimento</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Selecione sua data de nascimento"
          formControlName="birthday"
          (click)="picker.open()"
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        @if (birthday?.hasError('required')) {
          <mat-error>A data de nascimento é obrigatória.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Senha</mat-label>
        <input
          matInput
          type="password"
          placeholder="Digite sua senha"
          formControlName="password"
        />
        @if (password?.hasError('required') && password?.touched) {
          <mat-error>A senha é obrigatória.</mat-error>
        }
        @if (password?.hasError('minlength') && password?.touched) {
          <mat-error>Mínimo de 8 caracteres.</mat-error>
        }
      </mat-form-field>

      <div class="form-toggles">
        <div class="toggle-option">
          <mat-slide-toggle formControlName="refreshTokenEnabled"/> Manter-me conectado
        </div>

        <div class="toggle-option">
          <mat-slide-toggle formControlName="twoFactorEnabled"/> 2FA (Autenticação em Duas Etapas)
        </div>
      </div>

      <div class="form-buttons">
        <button mat-flat-button color="primary" type="submit" [disabled]="isLoading">
          @if (isLoading) { Carregando... } @else { Cadastrar }
        </button>

        <button mat-button color="primary" type="button" (click)="goLogin()">
          Já possui conta? Fazer login
        </button>
      </div>

      @if (errorMessage) {
        <mat-card class="error-card">
          <mat-card-content>
            <div class="error-content">
              <mat-icon color="warn">error</mat-icon>
              <span class="error-message">{{ errorMessage }}</span>
            </div>
          </mat-card-content>
        </mat-card>
      }
    </form>
  </mat-card>
</div>
