<div class="signup-container">
  <mat-card class="signup-card">
    <mat-card-title class="signup-title">
      Novo por aqui? Cadastre-se!
    </mat-card-title>

    <form (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nome</mat-label>
        <input
          matInput
          type="text"
          placeholder="Digite seu nome"
          required
          [(ngModel)]="model.name"
          name="name"
        />
      </mat-form-field>


      <button mat-flat-button color="primary" type="submit" [disabled]="isLoading">
        @if (isLoading) { Carregando... } @else { Cadastrar }
      </button>
      <div style="margin-top: 1rem; text-align: right;">
        <button mat-button color="primary" type="button" (click)="goLogin()">
          Já possui conta? Fazer login
        </button>
      </div>
    </form>

    @if (errorMessage) {
      <mat-card class="error-card">
        <mat-card-content>
          <div class="error-content">
            <mat-icon color="warn">error</mat-icon>
            <span class="error-message">{{ errorMessage }}</span>
          </div>
        </mat-card-content>
      </mat-card>
    }
  </mat-card>
</div>
