@use "@angular/material" as mat;
@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

// 1. Defina suas paletas de cores personalizadas primeiro, se necessário
// Exemplo: $my-primary: mat.define-palette(mat.$azure-palette);

// 2. Defina ou use paletas padrão fornecidas pelo Material
$primary-palette: mat.$azure-palette;
$accent-palette: mat.$magenta-palette;
$warn-palette: mat.$red-palette;

// 4. Crie o tema principal para o HTML (escopo global)
html {
  @include mat.theme((
    color: $primary-palette,
    typography: (
      plain-family: 'Poppins, Roboto, Arial, sans-serif',
      brand-family: 'Poppins, sans-serif',
      bold-weight: 600,
      medium-weight: 500,
      regular-weight: 400,
    ),
  ));
}

// 5. Temas alternativos para classes específicas
.accent {
  @include mat.theme((
    color: $accent-palette,
  ));
}

.warn {
  @include mat.theme((
    color: $warn-palette,
  ));
}

// 6. Estilização global complementar
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h2,
p {
  padding: 16px;
}

.mr-8 {
  margin-right: 8px;
}


.form-field {
  width: 100%;
  margin-bottom: 0.8rem;

  .mat-form-field-outline {
    border-radius: 1.5rem;
  }

  input.mat-input-element {
    border-radius: 1.5rem;
    background: #fff;
    padding-left: 1.2rem;
  }
}

.mat-raised-button,
.mat-flat-button,
.mat-stroked-button {
  border-radius: 2rem;
  font-weight: 600;
  font-size: 1.05rem;
  padding: 0.7rem 1rem;
  margin-bottom: 0.5rem;
  text-transform: none;
  box-shadow: 0 2px 8px rgba(44, 52, 65, 0.08);

  background: unset;
}

.mat-raised-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
}

button {
  width: 100% !important;
  background-color: map.get($primary-palette, 40) !important;
  color: #fff !important;

  &:hover {
    background-color: map.get($primary-palette, 60) !important;
  }
}


a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: map.get($primary-palette, 40);
}
